*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.mainContainer{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
}
.plainContainer{
    width: 100%;
    height: 30%;
}
header{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    background-color: #3F73E7;
}
.middleContainer{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h3{
    color: white;
}
.logo{
    color: white;
}
.searchBar{
   width: 40%;
   height: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   border-radius: 4px;
}
.searchBar input{
    width: 90%;
    height: 100%;
    font-size: 1rem;
    color: #8A8A8A;
    border: none;
    padding-left: 10px;
}
.searchBar i{
    width: 10%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    color: #3F73E7;
    border: none;
}
button{
    width: 100px;
    height: 40px;
    background-color: white;
    color: #3F73E7;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
}
.more{
    display: flex;
    align-items: center;
}
.pictures{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    background-color: white;
}
.image{
    margin-top: 20PX;
    width: 6%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.image p{
    padding-left: 15PX;
    color: #1C1C1D;
    font-size: 1rem;
}
img{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
}
.toys{
    margin-top: 20PX;
    width: 12%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.toys img{
    width: 50%;
    height: 80%;
}
